/*Downloaded Fonts*/
    @font-face{
        src: url(fonts/BBHSansBartle-Regular.ttf);
        font-family: BBH
    }    
    @font-face{
        src: url(fonts/Lato-Regular);
        font-family: Lato
    }    

    body{
        background-color: rgb(83, 193, 197);
        }
    h1{
        font-family: verdana,BBH,arial;
        color:black;
        }
/*Change style by id*/
    p{
        color:red;
    /*Fonts*/
        font-family: Lato,"lucida console","times new roman";
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
    }
/*Change style by class*/
    .odd{
        color:blue;
    }
    .even{
        color:aliceblue;
    }
/*Borders*/
    h2{
        /* border-style:solid;
        border-width:5px;
        color:white; */
    /*Shorthand:Width|Style|Color*/
        border:3px solid blue;
        border-radius:5px;
        color:white; 
    }
    #borders{
        border-bottom:3px solid yellow;
        border-top:3px solid purple;
        border-left:3px dotted green;
        border-right:3px ridge white;
        border-radius:15px;
    }
/*Shadows*/
    #shadows{
        text-shadow:3px 3px 5px red, -3px -3px 5px green;
    }
    #box1{
        width: 100px;
        height: 100px;
        background-color:aliceblue;
        box-shadow: 3px 3px 5px;
    }
/*Margins*/
    body{
        margin:0px;
    }
    .box{
        border:5px solid;
        font-size: 5em;
        width: 250px;
        height: 250px
    }
    #box2{
        background-color: red;
        margin:auto;
    }
    #box3{
        background-color: rgb(7, 35, 44);
        margin-left:auto
    }
/*float*/

        
   